*{
  margin: 0;
  padding: 0;
}
.sidebar{
    background-color: white;
    width: 250px;
    border: solid lightgray 1px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

}
#Instagram_icon{
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sidebar ul{
    margin-left: 25px;
    list-style: none;
    font-size: 20px;
}
.sidebar ul li{
    margin: 30px 30px;
    font-size: 15px;
}
.sidebar ul li i,img{
    margin-right: 10px;
    font-size: 20px;
}
.sidebar ul li:hover{
    background-color: lightgray;
}

.story_section{
    margin: 20px 300px;  
}

.Feeds_section{
    display: flex;
    align-content:space-around;
    align-items:center;    
    margin: 20px 100px;
}

.Feeds_section i{
    margin-left: 300px;
}

.Feeds_section_img{
    margin-left: 410px;
}
.like_cmnt{
    margin-left: 28%;
    font-size: 20px;
    display: flex;
    align-content: space-between;
}
.like_cmnt i{
    margin: 20px 5px;
    font-size: 30px;
    padding: 10px 5px;
}

.like_cmnt div i{
    margin-left: 750%;
}

.text_comment{
    margin-left: 29%;
    font-size: 15px;
    font-weight: bold;
}
.comments{
    margin-top: 20px;
    margin-left: 29%;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
}

.comments div i{
    margin-left: 280px;
}

.second_feed{
    margin-top: 40px;
}

#mid_options{
    margin-top: 20px;
    margin-left: 410px;
}
#last_option{
    position: fixed;
    top: 0;
    margin-left: 1010px;
}